@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* CSS Document */
body {
  margin: 0;
  box-sizing: border-box;
}
.game-img {
  width: 350px;
  height: 350px;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.img_container {
  text-align: center;
  padding: 10px;
  height: auto;
}
.navbar {
  margin-right: auto;
}
