#app {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 75px;
  border: 2px solid tomato;
  border-radius: 20px; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 20px auto;
}

.marker {
  position: absolute;
  width: 60px;
  left: 172px;
  top: -20px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  width: 250px;
  margin: 40px auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}