@import url('https://fonts.googleapis.com/css?family=Asap');
    
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #6ed3cf;
}

header {
background: #e62739;
padding: 20px;
}

header > h1 {
color: black;
text-align: center;
font-weight: bold;
font-family: Asap , sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid #e62739;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;  
    position: relative;
}

.badge {
    background: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
    font-family: Asap;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
    font-family: Asap;
}

.result {
    font-size: 40px; 
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap;
}

.choices {
    margin-top: 50px 0;
    text-align: center;
}
.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0px 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: rgba(36, 39, 46, 0.534);
}

#action-message {
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.scroll{
    font-family: Asap,sans-serif;
    text-align: center;
    font-size: 50px;
}

.rules {
    background: #1a8b88;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 1000px;
    color: white;
    font-family: Asap,sans-serif;
    text-align: center;
}
.rules > h1 {
    margin: 0px 10px;
    font-size: 50px;
}
.rules > p {
    margin: 10px;
    font-size: 28px;
}
.rules > li {
    margin: 5px;
    text-align: center;
    font-size: 20px;
}

.hint {
        background: #1a8b88;
        margin: 0 auto;
        padding-top: 10px;
        max-width: 1000px;
        color: white;
        font-family: Asap,sans-serif;
        text-align: center;
}
.hint > li {
    margin: 10px;
    text-align: center;
    font-size: 20px;
}
.hint > p {
    margin: 10px;
    font-size: 20px;
}


.win:hover {
    background: #4dcc4d;
    border: 4px solid #31b43a;
    box-shadow: 0 0 10px #4dcc4d;
}

.lose:hover {
    background: #fc121b;
    border: 4px solid #d01115;
    box-shadow: 0 0 10px #fc121b;
}


.draw:hover {
    background: #464647;
    border: 4px solid #25292b;
    box-shadow: 0 0 10px #25292b;
}

#rs,#ps,#ss
{
	cursor:pointer;
}