body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252525;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

main {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; 
}

.game-preview {
    text-align: center;
    margin-bottom: 10px;
}

.game-preview img {
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

ul, ol {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}