* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(255,102,204,.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.container {
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #ffdb4d;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.flip-card {
  background-color: #fff;
  color: #333;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
  perspective: 1000px; 
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
} */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 110px;
  height: 110px;
  margin: 5%;
}

.flip-card-front h3 {
  font-size: 1.2rem;
  color: #ff66cc;
}

.flip-card-front {
  background-color: white;
  color: #ff66cc;
}

.flip-card-back {
  background-color: white;
  color: #ff66cc;
  transform: rotateY(180deg);
}

.play-game {
  margin-top: 2rem;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffdb4d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.play-game:hover {
  background-color: #ffdb4d;
}

.play-game:active {
  background-color: #ffdb4d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}