table {
  border-collapse: collapse;
}

table td {
  min-height: 100px;
  min-width: 100px;
  height: 100px;
  width: 100px;
  text-align: center;

  font-size: 4em;
  border: thin solid black;
}

table td:hover {
  background: #CCCCCC;
}

table tr {
  width: 300px;
  height: 100px;
}

#app {
  margin: auto;
  width: 60%;
}
#jayaH
{color:red}